.loading {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #f0f0f000 25%,
    rgb(82, 128, 255) 50%,
    #f0f0f000 75%
  );
  background-size: 200% 100%;

  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}