<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Inserir Novo Compromisso</h1>
      </div>

      <form [formGroup]="form" (ngSubmit)="gravar()" class="mt-4">
        <div class="form-group mb-3 position-relative">
          <label class="form-label">Assunto:</label>
          <input
          formControlName="assunto"
            [ngClass]="assunto?.touched && assunto?.invalid ? 'is-invalid' : ''"
            class="form-control"
            type="text"
            placeholder="Digite o assunto do compromisso"/>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Tipo de Compromisso:</label>

          <div class="d-flex align-items-center gap-2">
            <input name="tipoLocal" formControlName="tipoLocal" type="radio" [value]="0" />
            Remoto

            <input name="tipoLocal" formControlName="tipoLocal" type="radio" [value]="1" />
            Presencial
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Link:</label>
          <input
          formControlName="link"
            class="form-control"
            type="text"
            placeholder="Digite o link do compromisso"/>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Local:</label>
          <input
          formControlName="local"
            class="form-control"
            type="text"
            placeholder="Digite o local do compromisso"/>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Data:</label>
          <input 
          formControlName="data"class="form-control" type="date" />
        </div>

        <div class="form-group mb-3 position-relative row">
          <div class="col-6">
            <label class="form-label">Hora de Início:</label>
            <input
            formControlName="horaInicio"
              class="form-control"
              type="time"
              placeholder="Digite a hora de inicio"/>
            </div>
        </div>

          <div class="col">
            <label class="form-label">Hora de Término:</label>
            <input
            formControlName="horaTermino"
              class="form-control"
              type="time"
              placeholder="Digite a hora de termino"/>
          </div>
        
          <div class="form-group mb-3 position-relative">
            <label class="form-label">Contato:</label>
            <select class="form-select w-50" name="categoriaId" id="" formControlName="contatoId">
                <option *ngFor="let contato of contatos" [value]="contato.id">{{contato.nome}}</option>
            </select>
          </div>

        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button 
          data-cy= "btngravar"            
          type="submit"          
            class="btn btn-primary px-5">
            <i class="bi bi-save me-2"></i>
            Gravar
          </button>
          <button
            routerLink="/compromissos/listar"
            type="button"
            class="btn btn-outline-primary px-5"
          >
            <i class="pi pi-arrow-left me-2"></i>
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
  



